* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.headerImage {
  background-image: url(./images/coding-g0d23e7461_1920.jpg);
  background-repeat: no-repeat;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

/* nav {
  width: 100%;
} */

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

.brand-name {
  font-size: 35px;
}

.newBrandName {
  font-size: 0;
}

.heronav {
  padding-left: 30px;
  padding-right: 100px;
}

.newHeroNav {
  background-color: #03045e;
  height: auto;
}

.removeNav {
  font-size: 0;
  display: none;
}

.style-link,
.brand-name {
  color: #eee;
  text-decoration: none;
}

.style-link:hover {
  color: #eee;
  text-decoration: underline;
}

.fas,
.fab {
  font-size: 2rem;
}

.header-content {
  padding-left: 12rem;
}

.header-bottom {
  height: 154px;
  width: 100%;
  background-color: #03045e;
  opacity: 0.9;
}