*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #03045e;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li{
    display: block;
    color: #eee;
    padding: 10px;

}

a{
    color: #eee;
    text-decoration: none;
    
}

.fas, .fab{
    font-size: 30px;
}

.navItems{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2px;
}

 main{
     margin: 20px 200px 20px 400px;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

.headImage{
   display: flex;
   justify-content: center;
   align-items: center;
}

.headImage img{
     max-width: 1000px;
}

 #profile{
     width: 500px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .section1{
     display: flex;
     justify-content: space-around;
     gap: 50px;
     padding: 50px;
 }

 .section1 h2{
     text-transform: uppercase;
     margin-bottom: 4px;
     color: #00b4d8;
 }

 .details, .about{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 .details span{
     font-size: 20px;
 }

 .photo img{
     height: 200px;
     width: 200px;
     border-radius: 50%; 
 }

 .info{
     font-weight: 700;
     margin-top: 10px;
     margin-bottom: 10px;
 }


 @media (max-width: 1110px){
     .headImage img{
       width: 800px;
     }
 }

 @media (max-width: 1252px){
     .section1{
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }
     .photo{
         max-width: 500px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }

 @media (max-width: 960px){
     main{
         margin: 50px 50px 50px 200px;
     }
     .section1{
         display: block;
         padding: 0;
         margin: 0;
     }
     .about{
         width: 500px;
     }
     .headImage img{
        width: 700px;
      }
      .details{
          width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
 }

 @media (max-width: 875px){
    .headImage img{
        width: 500px;
      }
 }

 @media (max-width: 710px){
    nav{
        right: 0;
        width: 100%;
        height: 90px;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    ul{
        display: flex;
    }
    main{
        margin: 100px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }